*{
    background-color: black;
}
.titulo{
    color: darkgoldenrod;
}

.imagen{
    width: 70%;
    margin-bottom: 15px;
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
}

body {
    text-align: center;
    color: whitesmoke;
    font-family: Arial, Helvetica, sans-serif;
}

address{
    padding-bottom: 50px;
    font-size: 40px;
}
a{
    font-size: 40px;
}

table{
    font-family: «Arial», «Arial 30px», Sans-Serif;
    font-size: 20px;
    width: 550px;
    text-align: center;
    margin: auto;
    border-collapse: collapse;
}

th{
    font-size: 15px;
    font-weight: normal;
    padding: 10px;
    background: rgb(0, 119, 255);
    border-bottom: 1px solid whitesmoke;
    color: black;
}

td{
    padding: 10px;
    background: white;
    border-bottom: 1px solid rgb(0, 162, 255);
    color: black;
    border-top: 1px solid transparent;
}

.european{
    color: green;
}
.asian{
    color: brown;
}
h3{
    font-size: 100px;
}

.fuente{
    font-size: 30px;
}

.wiki{
    font-size: 25px;
}

.preply{
    font-size: 30px;
    color:cyan;
}

.contenedor {
    text-align: center;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    background-color: cyan;
    padding: 5px;
    width: 247px;
}